.git
.github
.idea
.vscode
.cursor
**/*.iml
**/*.ipr
**/*.iws
**/target
*.log
logs
**/.env
**/.env.*
**/application-local.yml
**/application-local.yaml
**/*.md
Thumbs.db
.DS_Store
*.jar
*.war
*.ear
*.class
